.custom_modal {
  .modal-content {
    .close_icon {
      position: absolute;
      top: 5%;
      right: 2%;
      font-size: 24px;
      z-index: 1;
      cursor: pointer;
    }
    .modal-header {
      border-color: #d9d9d9;
      padding-bottom: 0;
    }
  }
}
.custom_alert_modal {
  i {
    font-size: 85px;
  }
}
