.psw_input_container {
  position: relative;
  input {
    padding-right: 40px;
  }
  .is-invalid {
    padding-right: 65px;
  }
  svg {
    position: absolute;
    font-size: 20px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin: 0 12px;
  }
  .input_invalid {
    svg {
      right: 25px;
    }
  }
}
.currency_input_container {
  position: relative;
  input {
    padding-left: 35px;
    padding-right: 60px;
  }
  i,
  small {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 12px;
  }
  i {
    left: 0;
  }
  small {
    right: 0;
    opacity: 0.5;
  }
  .input_invalid {
    small {
      right: 22px;
    }
  }
}
label {
  margin-bottom: 5px;
}
.mendatory_sign {
  color: red;
  padding-left: 4px;
}

input[type='radio'] {
  accent-color: var(--primary-color);
}
